body{
    display: flex;
    flex: 1;
    background-color: #0097B2;
    color: white;
    width: 100vw;
    height: 100vh;
    margin: auto;
    flex-direction: column;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fundoe{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.iconee{
    margin-left: 50px;
    margin-right: 10px;
}

.tituloe{
    border: 2px white solid;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

.btn{
    height: 50px;
    width: 300px;
    border-radius: 30px;
    border: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #59A5D8;
    font-weight: 600;
    margin-top: 70px;
    cursor: pointer;
    background-color: white;
}

.btn:hover{
    border: 3px solid #386FA4;
    background-color: lightcyan;
}

h1{
    margin-left: 20px;
    border: 2px solid white;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    font-size: 25px;
}

.input-single{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    font-weight: 500;
    text-shadow: 2px 2px #386FA4;
}

input{
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #DAFAFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0097B2;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 60px;
}

input[type="text"]{
    width: 350px;
}

label{
    font-size: 23px;
    margin-bottom: 15px;
}